[placeholder]:empty:before
  content attr(placeholder)
  color grey
  display block

body
  user-select: none;
  display: flex
  flex-direction: column;
  font-family: sans-serif

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

fadeIn(duration = .3s, display = none, animation=fadeIn)
  animation: animation ease-out 1
  animation-fill-mode:forwards
  animation-duration: duration
  will-change: opacity
  opacity: 0
  display: display

fadeOut(duration = .3s, display = none)
  fadeIn(duration, display, animation=fadeOut)

.recording
  animation: fadeIn 1s infinite alternate

#templates
  display: none

#card
  text-align: center
  font-size: 24px
  width: 50%
  padding: 30px
  margin: 0 auto;
  height: 60vh
  display: flex

  .card
    align-self: flex-end;
    width: 100%

  #text, audio
    padding: 20px

  #text
    white-space: pre-line
    text-align: left

  audio
    padding-left: 0
    padding-right: 0
    width: 100%

.button
  color: white
  width: 70
  height: 70
  font-size: 50px
  line-height: 70px
  cursor: pointer

#record
  .button
    margin: auto;
    color: red
    width: 100%


#grade
  text-align: center
  margin: 0 auto;
  margin-bottom: 10px
  display: flex
  justify-content: space-around;

  .button
    margin: 0 10px 0 10px
