[placeholder]:empty:before {
  content: attr(placeholder);
  color: #808080;
  display: block;
}
body {
  user-select: none;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
.recording {
  animation: fadeIn 1s infinite alternate;
}
#templates {
  display: none;
}
#card {
  text-align: center;
  font-size: 24px;
  width: 50%;
  padding: 30px;
  margin: 0 auto;
  height: 60vh;
  display: flex;
}
#card .card {
  align-self: flex-end;
  width: 100%;
}
#card #text,
#card audio {
  padding: 20px;
}
#card #text {
  white-space: pre-line;
  text-align: left;
}
#card audio {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.button {
  color: #fff;
  width: 70;
  height: 70;
  font-size: 50px;
  line-height: 70px;
  cursor: pointer;
}
#record .button {
  margin: auto;
  color: #f00;
  width: 100%;
}
#grade {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
#grade .button {
  margin: 0 10px 0 10px;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
