script
  include ../node_modules/socket.io-client/dist/socket.io.js
  
script
  include ../node_modules/ramda/dist/ramda.min.js
script
  include ../node_modules/mousetrap/mousetrap.min.js
  

style
  include index.css
    
#templates
  .card.fadeIn
    #text(contenteditable='true' onfocus="I('audio').pause()" onblur="I('audio').play()") |0|
    audio#audio(controls autoplay loop src="|1|")
    #grade
      each n, color in {'red':1, 'orange': 2, 'grey': 3, 'MediumSeaGreen': 4, 'green': 5}
        .button(onclick=`grade(${n})` style=`background-color:${color}`)= n
    //- #record
    //-   .button(onclick='record()') ◉
  
#card
  
script
  include binary.min.js
script
  include global.js
script
  include recorder.js
script
  include index.js
