script
  include ../node_modules/ramda/dist/ramda.min.js
  include ../node_modules/mousetrap/mousetrap.min.js

link(rel="stylesheet" type="text/css" href='index.css')
    
#templates
  .card.fadeIn
    #text(contenteditable='true') |0|
    audio#audio(controls autoplay loop src="|1|")
    .buttons
      each n, color in {'red':1, 'orange': 2, 'grey': 3, 'MediumSeaGreen': 4, 'green': 5}
        button(onclick=`grade(${n})` style=`background-color:${color}`)= n
  
#card
  
script(src='global.js')
script(src='socket.js')
script(src='index.js')
